
<%= form_with model:post do |f| %>
	<%#= render 'layouts/error_messages', model: f.object %>
	<div class="flex">
		<div>
		  <%= f.label "画像", class:"col-3" %></br>
          <%= f.file_field :image, accept: "image/*" %>
		</div>
		<table class="post_info post_form">
			<tbody>
				<tr>
					<td><%= f.label :title, "タイトル" %></td>
					<td><%= f.text_field :title %></td>
				</tr>
				<tr>
					<td><%= f.label :count, "歩数" %></td>
					<td><%= f.text_field :count %> 歩</td>
				</tr>
				<tr>
					<td><%= f.label :body, "テキスト" %></td>
					<td><%= f.text_area :body, rows: 3 %></td>
				</tr>
			</tbody>
		</table>
		<div class='form-group'>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
             <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
             </div>
            <% end %>
        </div>
		  <div class="flex align-center pl5">
			<%= f.submit submit, class: "btn btn-primary" %>
		  </div>
	   </div>
<% end %>