
<%= form_with model:post do |f| %>
	<%#= render 'layouts/error_messages', resource: post %>
	<div class="flex">
		<div>
		  <%= f.label "画像", class:"col-3" %>
      <%= f.file_field :profile_image, accept: "image/*" %>
		</div>
		<table class="post_info post_form">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :title, "タイトル" %></td>
					<td><%= f.text_field :title %></td>
				</tr>
				<tr>
					<td><%= f.label :count, "歩数" %></td>
					<td><%= f.text_field :count %> 歩</td>
				</tr>
				<tr>
					<td><%= f.label :body, "テキスト" %></td>
					<td><%= f.text_area :body, rows: 3 %></td>
				</tr>
				<tr>
					<td><%= f.label :post_tag_id, "タグ" %></td>
					<td class="select_field"><%= f.collection_select :post_tag_id, Tag.all, :id, :name %></td>
				</tr>
				
				
			</tbody>
		</table>
		<div class="flex align-center pl5">
			<%= f.submit submit, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>