<div class="container">
  <div class="row mb-4">
    
    <div class="col-md-7">
      <h3 class="offset-1 my-5 text title-text">会員一覧（<%= @job.name %>）</h3>
      <div class="row">
        <div class="col-12 mx-auto">
          

          <table class="table table-hover">
            <thead>
              <tr class="table-active text">
                <th>氏名</th>
                <th>ステータス</th>
                <th>投稿数</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

              <tbody>
                <% @job.users.each do |user| %>
                 <% if user.status == "disclosure" %>
                  <tr class="light-text">
                    <td class="text">
                      <%= link_to admin_user_path(user), class: "text-dark" do %>
                        <%= user.name %>
                      <% end %>
                    </td>
                    <td>
                      <%= user.job.name %>
                    </td>
                    <td>
                      <%= user.posts.count %>件
                    </td>
                    
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
           </table>
        </div>
      </div>
    </div>
    
  </div>
</div>