<% if user_signed_in? %>
<div class="col-md-3 side_menu">

         <% if current_user.name == "guestuser" %>
         <div class="pt-3 pb-3">ゲストでログインしています</div>
         <% else %>
       <div class="pt-3 pb-3">ようこそ<%= current_user.name %>さん！</div>
        <% end %>

	<table class="table">
	   		<% current_user.targets.last(1).each do |target| %>
	   		<thead>
	   			<tr>
            <th>最新の目標</th>
          </tr></thead>
	   		<tr>
	   			<td>期限　</td>
	   			<td><%= target.limit %></td>
	   		</tr>
	   		<tr>
	   			<td>内容　</td>
	   			<td><%= target.body %></td>
	   		</tr>
	   		<tr>
	   			<td>目標体重　</td>
	   			<td><%= target.weight %></td>
	   		</tr>
	   		<tr>
	   			<td>一日の目標歩数</td>
	   			<td><%= target.daily_step %></td>
	   		</tr>
	   		<tr>
	   			<td>達成度</td>
	   			<td><%= target.status_i18n %></td>
	   		</tr>
	   		<% end %>
	   	</table></br>
	   	<div class="text-center">
  <%= link_to "ユーザー情報編集", edit_user_path(current_user), class: "btn btn-outline-dark" %></br></br>
	<%= link_to "新規投稿", new_post_path, class: "btn btn-outline-dark" %></br></br>
	<%= link_to "目標設定", new_target_path, class: "btn btn-outline-dark" %></br></br>
	<%= link_to "目標一覧", targets_path, class: "btn btn-outline-dark" %></br></br>
	</div>
</div>
<% end %>