<table class="user_info text-center ml-5">
		     <thead>
			     <th colspan="4">登録情報</th>
		     </thead>
		     <tbody>
			     <tr>
				      <td>名前</td>
				      <td colspan="2"><%= @user.name %></td>
			     </tr>
			     <tr>
				      <td>ステータス</td>
				      <td></td>
				      <td colspan="2"><%= @user.job.name %></td>
			     </tr>
			     <tr>
				     <td>自己紹介</td>
				     <td colspan="3"><%= @user.body %></td>
			     </tr>
			     <% if @user == current_user %>
			     <tr>
				     <td>性別</td><td></td>
				     <td colspan="2"><%= @user.gender_i18n %></td>
			     </tr>
			     <tr>
				     <td>身長</td><td></td>
				     <td colspan="2"><%= @user.height %></td>
			     </tr>
			     <tr>
				     <td>体重</td><td></td>
				   <td colspan="2"><%= @user.weight %></td>
			     </tr>
			     <tr>
				     <td>悩み</td><td></td>
				     <td colspan="2"><%= @user.problem %></td>
			     </tr>
			     <% end %>
		     </tbody>
	    </table>