<div class="container pt-5">
  <div class="row">
    
    <%= render 'public/tags/tag_search' %>
    
    <div class="col-md-8 mx-auto">
      <h3 class="bg-light">ユーザー情報編集画面</h3></br>
      <% if @user.name != "guestuser" %>
      <%= form_with model: @user, url: user_path(@user), method: :patch, local:true do |f| %>
      <%= render 'layouts/errors', model: f.object %>
       <div class="form-group", style="display:inline-flex">
         <%= f.label :profile_image, "プロフィール画像", class:"col-md-2" %>
         <%= f.file_field :profile_image, accept: "image/*" %>
       </div>
       <div class="form-group">
         <%= f.label :name, "名前", class:"col-md-2" %>
         <%= f.text_field :name %>
       </div>
       <div class="form-group">
         <%= f.label :body, "自己紹介", class:"col-md-2" %>
         <%= f.text_area :body , class:"col-sm-6"%>
       </div>
       <div>
         <%= f.label :age, "年齢", class:"col-md-2" %>
         <%= f.text_field :age %>
       </div>
       <div>
         <%= f.label :gender, "性別", class:"col-md-2" %>
			   <%#= f.select :gender, [["設定しない", 0], ["男性",1],["女性",2] %>
			   <%= f.select :gender, User.genders.keys.map {|k| [I18n.t("enums.user.gender.#{k}"), k]} %>
       </div>
       <div>
         <%= f.label :height, "身長", class:"col-md-2" %>
         <%= f.text_field :height %>
       </div>

       <div>
         <%= f.label :weight, "体重", class:"col-md-2" %>
         <%= f.text_field :weight %>
       </div>
       <div>
         <%= f.label :problem, "悩み", class:"col-md-2" %>
         <%= f.text_area :problem %>
       </div>
       <div class="form-group">
         <%= f.label :job_id, "ステータス", class:"col-md-2" %>
         <%= f.collection_select(:job_id, @jobs, :id, :name, prompt: "-- 選択してください --") %>
       </div>
       <div class="form-group">
         <%= f.label :status, "公開設定", class:"col-md-2" %>
			   <%#= f.select :gender, [["設定しない", 0], ["男性",1],["女性",2] %>
			   <%= f.select :status, User.statuses.keys.map {|k| [I18n.t("enums.user.status.#{k}"), k]} %>
       </div>
       
        <div>
         
       </div>
       <div class="form-group">
         <%#= f.label "税抜き価格", class:"col-sm-3" %>
         <%#= f.text_field :price, :placeholder => "1000" %>
       </div>
       <div class="form-group">
         <%#= f.label "販売ステータス", class:"col-sm-4" %>
         <label><%#= f.radio_button :sale_status, "true", checked: true %></label>
         <label style="margin-left: 30px;"><%#= f.radio_button :sale_status, "false", checked: false %></label>
       </div>

       <div class="text-center">

         <%= f.submit :変更を保存, class:'btn btn-lg btn-success' %>
       </div>
      <% end %>
      <% else %>
      ゲストでログイン中は編集できません
      <% end %>
    </div>
    
    
  </div>
</div>