<div class="container">
  <div class="row mb-4">
    <%= render "public/tags/tag_search" %>
    <div class="col-md-7">
      <h3 class="offset-1 my-5 text title-text">会員一覧</h3>
      <div class="row">
        <div class="col-12 mx-auto">
          <%= search_form_for @q do |f| %>
          <%= f.label :name, "ユーザー検索" %>
          <%= f.search_field :name_cont %>
          <%= f.submit "検索" %>
          <% end %>

          <table class="table table-hover">
            <thead>
              <tr class="table-active text">
                <th>氏名</th>
                <th>ステータス</th>
                <th>投稿数</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

              <tbody>
                <% @users.each do |user| %>
                 <% if user.status == "disclosure" %>
                  <tr class="light-text">
                    <td class="text">
                      <%= link_to user_path(user), class: "text-dark" do %>
                        <%= user.name %>
                      <% end %>
                    </td>
                    <td>
                      <%= user.job.name %>
                    </td>
                    <td>
                      <%= user.posts.count %>件
                    </td>
                    <td><% if user_signed_in? %>
                      <%= render "public/relationships/btn", user: user %></td>
                    <td>フォロワー数: <%= user.followers.count %><% end %></td>
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
           </table>
        </div>
      </div>
    </div>
    <%= render "public/users/side" %>
  </div>
</div>