<div class="container">
	<div class="row">
		<div class="col-md-12">
	       <h2 class="section-ttl text-center pb-5">ユーザーページ</h2>
<% if @user.status == "secret" %>
	          このユーザーは非公開です
<% else %>
	     </div>
	</div>
	<div class="row">
	  <%= render "public/tags/tag_search" %>

	   <div class="col-lg-3 mt-5">
	    <%= render "public/users/table" %>
        <% if user_signed_in? %>
           <div class="pt-3 text-center">
           <% if @user == current_user %>
	          <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success ml2" %>
	       <% else %>
	            <% if current_user.following?(@user) %>
              <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
              <% end %>
	       <% end %>
	       </div>
        <% end %>
	   </div>

	   <div class="col-lg-3 mt-5">
	      	<%= image_tag @user.get_profile_image, size: "300x200" %>
	   </div></br>

        <% if user_signed_in? %>
	      <%= render "public/users/side" %>
	    <% end %>
    </div>

	<div class="row">
	  <div class="col-md-6 pt-5">

        <% if @user == current_user %>
  	    <%= form_with model:@step do |f| %>
	    <table class="post_info post_form">
		  <thead>歩数記録</thead>
			<tbody>
				<tr>
					<td><%= f.label :date, "日付　" %></td>
					<td><%= f.date_field :date %></td>
				</tr>
				<tr>
					<td><%= f.label :count, "歩数　" %></td>
					<td><%= f.text_field :count %> 歩</td>
				</tr>
			</tbody>
		 </table>
		 <%= f.submit :歩数を記録, class:'btn btn-sm btn-success' %>
	     <% end %><% end %>
	  </div>
	</div>

    <div class="row">
    	<div class="col-md-1"></div>
	    <div class="pt-4 pb-2 col-md-5">
	      <%= column_chart @steps.chart_date, xtitle: "日付", ytitle: "歩数", width: "500px", height: "400px" %>
	    </div>
	    <div class="col-md-2"></div>
	    <div class="col-md-3">最近の歩数記録
	    <table class="table">
		 <thead>
		  <tr>
		  	<td>日付</td>
		  	<td>歩数</td>
		  </tr>
		 </thead>
		 <tbody>
			<% @steps.last(7).each do |step| %>
			<tr>
				<td><%= step.date %></td>
				<td><%= step.count %></td>
			</tr>
			<% end %>
		 </tbody>
	    </table>
	    </div>
    </div>
    <div class="row">
	<div class="col-md-12">
	　<% unless @user.posts.blank? %>
	   <h2>このユーザーの投稿</h2>
       <table class='table mt-3'>
         <thead>
           <th></th>
           <th>タイトル</th>
           <th><% if user_signed_in? %>いいね数<% end %></th>
         </thead>
         <tbody>
           <% @user.posts.each do |post| %>
           <tr>
             <td>
                 <%= link_to post_path(post) do %>
                 <%= image_tag post.get_image, size:'50x50' %>
                 <% end %>
             </td>
             <td><%= link_to post.title, post_path(post) %></td>
             <td class=<%= "like-" + post.id.to_s %> >
             <%= render "public/likes/btn", post: post %></td>
           </tr>
           <% end %>
      <% else %>
        <p>投稿はありません</p>
      <% end %>
     </div>
     </div>
     </br>
     <div class="row mb-5">
     <%= link_to "ユーザー一覧へ", users_path %>
     <%= link_to "ホームへ戻る", root_path %>
	 </div>
  </div>
<% end %>
<!--以下　非公開ユーザーが自分のページを見る用-->
    </div>
    </div>
<% if user_signed_in? %>
<% if @user == current_user %>
<% if @user.status == "secret" %>
	<div class="row">
	  <%= render "public/tags/tag_search" %>
	  <div class="col-lg-3 mt-5">
	    <%= render "public/users/table" %>
	    <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success ml2" %>
	  </div>
	  <div class="col-lg-3 mt-5">
	      	<%= image_tag @user.get_profile_image, size: "300x200" %>
	  </div></br>
	  
	    <%= render "public/users/side" %>
	</div>

	<div class="row">
	<div class="col-md-6 pt-5">
  	<%= form_with model:@step do |f| %>
	   <table class="post_info post_form">
		  <thead>歩数記録</thead>
			<tbody>
				<tr>
					<td><%= f.label :date, "日付　" %></td>
					<td><%= f.date_field :date %></td>
				</tr>
				<tr>
					<td><%= f.label :count, "歩数　" %></td>
					<td><%= f.text_field :count %> 歩</td>
				</tr>
			</tbody>
		 </table>
		 <%= f.submit :歩数を記録, class:'btn btn-sm btn-success' %>
	 <% end %>
	</div>
	</div>
    <div class="row"><div class="col-md-1"></div>
	<div class="pt-4 pb-2 col-md-5">
	<%= column_chart @steps.chart_date, xtitle: "日付", ytitle: "歩数", width: "500px", height: "400px" %>
	</div>
	<div class="col-md-2"></div>
	   <div class="col-md-3">最近の歩数記録
	   <table class="table">
		 <thead>
		  <tr>
		  	<td>日付</td>
		  	<td>歩数</td>
		  </tr>
		</thead>
		<tbody>
			<% @steps.last(7).each do |step| %>
			<tr>
				<td><%= step.date %></td>
				<td><%= step.count %></td>
			</tr>
			<% end %>
		</tbody>
	</table></div>
    </div>
	<div class="col-md-12">
	   <% unless @user.posts.blank? %>
	   <h2>このユーザーの投稿</h2>
       <table class='table mt-3'>
         <thead>
           <th></th>
           <th>タイトル</th>
           <th>いいね数</th>
         </thead>
         <tbody>
           <% @user.posts.each do |post| %>
           <tr>
             <td>
                 <%= link_to post_path(post) do %>
                 <%= image_tag post.get_image, size:'50x50' %><% end %>
             </td>
             <td><%= link_to post.title, post_path(post) %></td>
             <td class=<%= "like-" + post.id.to_s %> >
             <%= render "public/likes/btn", post: post %></td>
           </tr>
           <% end %>
         </tbody>
       </table>
       <% else %>
        <p>投稿はありません</p>
       <% end %>
    </div>
    <div class="row mb-5">
     <%= link_to "ユーザー一覧へ", users_path %>
     <%= link_to "ホームへ戻る", root_path %>
	 </div>
<% end %><% end %><%# end %>
    
	</div>
	