<section class="inner">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
  <% end %>
	<h2 class="section-ttl">マイページ</h2>
	<h3>
		登録情報
		<%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success ml2" %>
		<%#= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-success ml2" %>
	</h3>
	<table class="customer_info mb3">
		<thead>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr>
				<td>名前</td>
				<td><%= @user.name %></td>

			</tr>
			<tr>
				<td>ステータス</td>
				<td><%= @user.job.name %></td>
				<td></td>
			</tr>
			<tr>
				<td>自己紹介</td>
				<td colspan="2"><%= @user.body %></td>
			</tr>
			<tr>
				<td>身長</td>
				<td colspan="2"><%= @user.height %></td>
			</tr>
			<tr>
				<td>体重</td>
				<td colspan="2"><%= @user.weight %></td>
			</tr>
			<tr>
				<td>悩み</td>
				<td colspan="2"><%= @user.problem %></td>
			</tr>
		</tbody>
	</table>

	<%= link_to "新規投稿", new_post_path, class: "btn btn-primary" %>
	<div class="flex">
		<%#= link_to "配送先一覧", addresses_path, class: "btn btn-primary" %>
		<%#= link_to "注文履歴一覧", orders_path, class: "btn btn-primary ml2" %>
	</div>
</section>