<header class="headber bg-secondary">
  <nav class="navar">
    <div class="container">
      <div class="row">
       <div class="col-3">
        
        <%= link_to root_path do %>
        <%= image_tag '14012023062143A.png', size: "180x100" %>
        <% end %>
       </div>

       


       <div class="col-6">
        <% if user_signed_in? %>
         <%= link_to "マイページ", user_path(current_user.id), class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "投稿一覧", posts_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ユーザー一覧", users_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-dark" %>
        <% elsif admin_signed_in? %>管理者でログイン中
         <%= link_to "投稿一覧", admin_posts_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "タグ一覧", admin_tags_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ステータス一覧", admin_jobs_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-dark" %>
        <% else %>
         <%= link_to "About", about_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "投稿一覧", posts_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ユーザー一覧", users_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "新規登録", new_user_registration_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ログイン", new_user_session_path, class: "btn btn-sm btn-outline-dark" %>
        <% end %>
        </br>
       </div>

      </div>
     </div>
   </nav>
</header>