<header class="headber">
  <nav class="navar bg-light">
    <div class="container">
      <div class="row">
       <div class="col-3">
        <%# if admin_signed_in? %>
         <%#= link_to admin_orders_path do %><i class="fas fa-home"></i><%# end %>
        <%# else %>
         <%#= link_to root_path do %><i class="fas fa-home"></i><%# end %>
        <%# end %>
        <%=link_to "WALキング", root_path %>
       </div>

       <div class="col-3">
        <%# if customer_signed_in? %>
       <div>ようこそ、<%#= current_customer.last_name %>さん！</div>
        <%# end %>
       </div>


       <div class="col-6">
        <% if user_signed_in? %>
         <%= link_to "マイページ", public_user_path(current_user.id), class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "商品一覧", public_posts_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "カート", public_posts_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-dark" %>
        <% elsif admin_signed_in? %>
         <%#= link_to "商品一覧", admin_items_path, class: "btn btn-sm btn-outline-dark" %>
         <%#= link_to "会員一覧", admin_customers_path, class: "btn btn-sm btn-outline-dark" %>
         <%#= link_to "注文履歴一覧", admin_orders_path, class: "btn btn-sm btn-outline-dark" %>
         <%#= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-sm btn-outline-dark" %>
         <%#= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-dark" %>
        <% else %>
         <%= link_to "About", about_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "投稿一覧", public_posts_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "新規登録", new_user_registration_path, class: "btn btn-sm btn-outline-dark" %>
         <%= link_to "ログイン", new_user_session_path, class: "btn btn-sm btn-outline-dark" %>
        <% end %>
       </div>

      </div>
     </div>
   </nav>
</header>